<div class="payments-container">
    <div class="header">
        <h1>Añadir pago</h1>
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" action="">
        <div class="form-row">
            <div class="form-group">
                <label for="name">Name of Member</label>
                <input type="text" formControlName="name" name="name" placeholder="Name">
                <div class="error" *ngIf="myForm.get('name')?.invalid && myForm.get('name')?.touched">Name is required</div>
            </div>
            <div class="form-group">
                <label>Profile</label>
                <input type="text" placeholder="Choose plan" aria-label="Number" formControlName="fechaIngreso" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
        
                </mat-autocomplete>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group date-group">
                <label for="date">Date of Join</label>
                <input formControlName="date" id="date" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div class="error" *ngIf="myForm.get('date')?.invalid && myForm.get('date')?.touched">Date is required</div>
            </div>
            <div class="form-buttons">
                <button type="submit" [class.disabled]="myForm.invalid" class="save-button">Save</button>
                <button type="button" class="cancel-button">Cancel</button>
            </div>
        </div>
    </form>
</div>
