<div class="forgot-password-container">
    <h1>Forgot Password</h1>
    <p>Please enter your registered email address. We will send you a link to reset your password.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Invalid email format
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" class="submit-button" type="submit">
        Submit
      </button>
    </form>
    <div *ngIf="isSubmitted && successMessage" class="success-message">
      {{ successMessage }}
    </div>
  </div>
  