<div class="forgot-password-container">
    <h1>Recuperar contraseña</h1>
    <p>Por favor, introduzca su dirección de correo electrónico registrada. Le enviaremos un enlace para restablecer su contraseña.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline" class="input-field">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" class="inputemail" />
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">
          Se requiere correo electrónico
        </mat-error>
        <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">
          Formato de correo electrónico no válido
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" class="submit-button" type="submit">
        Enviar
      </button>
    </form>
    <div *ngIf="isSubmitted && successMessage" class="success-message">
      {{ successMessage }}
    </div>
  </div>
  