<mat-drawer-container class="dashboard-container">
  <mat-drawer class="sidebar" mode="side" opened>
    <!-- Perfil del instructor -->
    <div class="profile">
      <div class="profile-pic">
        <img src="https://as2.ftcdn.net/v2/jpg/00/96/60/99/1000_F_96609924_74UtjNBdDCKymIZcbxZJhJ3sO9pzIenF.jpg" alt="Instructor Profile">
      </div>
      <h3 *ngIf="user" class="instructor-name">{{ user.name }}</h3>
      <p *ngIf="user" class="instructor-email">{{ user.email }}</p>
    </div>

    <!-- Menú de navegación -->
    <nav>
      <mat-nav-list>
        <li><a routerLink="/dashboard/members" routerLinkActive="active"><i class="fa-solid fa-table-columns"></i> Miembros</a></li>
        <li><a routerLink="/dashboard/users" routerLinkActive="active"><i class="fa-regular fa-user"></i> Usuarios</a></li>
        <!-- <li><a routerLink="/dashboard/admin" routerLinkActive="active"><i class="fa-regular fa-user"></i> Usuario </a></li> -->
        <!-- <li><a routerLink="/dashboard/register" routerLinkActive="active"><i class="fa-regular fa-pen-to-square"></i> Add Member</a></li> -->
        <li><a routerLink="/dashboard/payments" routerLinkActive="active"><i class="fa-regular fa-credit-card "></i> Payments</a></li>
        <!--  -->
        <!-- <li><a routerLink="/dashboard/forgot-password" routerLinkActive="active"><i class="fa-regular fa-pen-to-square"></i> Forgot Password</a></li> -->
      </mat-nav-list>
      <a (click)="onLogout()" class="logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</a>
    </nav>
  </mat-drawer>

  <mat-drawer-content>
    <!-- Contenido principal del dashboard -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
