.main-content {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: Arial, sans-serif;
}

.members-box {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    max-width: 100%;
    width: 100%;
    height: auto;
}


.members-box h2 {
    font-family: "Poppins", sans-serif;
    color: #154360;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.options-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.show-options {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #333;
}

.show-options label {
    margin-right: 8px;
}

.show-options select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-bar input {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.members-header, .member-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.members-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #e0e0e0;
    color: #154360;
    font-family: "Poppins", sans-serif;
}

.members-header span {
    width: 20%;
}

.members-list {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    max-height: 290px;
    overflow-y: auto;
}

.member {
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.member-info span {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.member-info button {
    background-color: #154360;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.member-info button:hover {
    background-color: #1a5276;
}

 