<div class="card-container">
    <div class="card-title-outside">Gym Managment</div>
    <mat-card appearance="outlined" class="login-card">
        <mat-card-content>
            <form class="form-custom" [formGroup]="formLogin">
                <div class="input-group">
                    <mat-form-field class="input-custom" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="correo" />
                    </mat-form-field>
                    <div class="error" *ngIf="formLogin.get('correo')?.invalid && formLogin.get('correo')?.touched">
                        Email is required
                    </div>
                </div>
                <div class="input-group">
                    <mat-form-field class="input-custom" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="clave" type="password" />
                    </mat-form-field>
                    <div class="error" *ngIf="formLogin.get('clave')?.invalid && formLogin.get('clave')?.touched">
                        Password is required
                    </div>
                </div>
                <div class="flex">
                    <button mat-flat-button color="primary" class="login-button" (click)="iniciarSesion()">
                        Login
                    </button>
                </div>
                <div class="forgot-password-container">
                    <a class="forgot-password" (click)="onForgotPassword()">¿Has olvidado la contraseña?</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
