<div class="card-container">
    <div class="card-title-outside">Gestión de centro deportivo</div>
    <mat-card appearance="outlined" class="login-card">
        <mat-card-content>
            <form class="form-custom" [formGroup]="formLogin">
                <div class="input-group">
                    <mat-form-field class="input-custom" appearance="outline">
                        <span class="material-icons input-icon">email</span>
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="correo" />
                    </mat-form-field>
                </div>
                <div class="input-group">
                    <mat-form-field class="input-custom" appearance="outline">
                        <span class="material-icons input-icon">lock</span>
                        <mat-label>Clave</mat-label>
                        <input matInput formControlName="clave" type="password" />
                    </mat-form-field>
                </div>
                <div class="flex">
                    <button mat-flat-button color="primary" class="login-button" (click)="iniciarSesion()">
                        Iniciar Sesión
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
