<div class="conteiner-general">
  <div class="bienvenida-conteiner">
    <h1>Nuevo Miembro</h1>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="registro">
    <div class="form-row">

      <div class="group-registro">
        <mat-form-field>
          <mat-label>Nombre del Miembro</mat-label>
          <input matInput formControlName="NombreCompleto">
        </mat-form-field>
        <div *ngIf="myForm.get('NombreCompleto')?.invalid && myForm.get('NombreCompleto')?.touched" class="error-message">
          Nombre inválido
        </div>
      </div>

      <div class="group-registro">
        <mat-form-field>
          <mat-label>Correo Electrónico</mat-label>
          <input matInput formControlName="Email">
        </mat-form-field>
        <div *ngIf="myForm.get('Email')?.invalid && myForm.get('Email')?.touched" class="error-message">
          Correo inválido
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="group-registro">
        <mat-form-field>
          <mat-label>Perfil</mat-label>
          <mat-select formControlName="IdPerfil">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{ option.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="myForm.get('IdPerfil')?.invalid && myForm.get('IdPerfil')?.touched" class="error-message">
          Perfil inválido
        </div>
      </div>

      <div class="group-registro">
        <mat-form-field>
          <mat-label>Número de Contacto</mat-label>
          <input matInput formControlName="ContactNro">
        </mat-form-field>
        <div *ngIf="myForm.get('ContactNro')?.invalid && myForm.get('ContactNro')?.touched" class="error-message">
          Número inválido
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="group-registro">
        <mat-form-field style="display: flex; flex: 1;">
          <mat-label>Fecha de Ingreso</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="FechaIngreso" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div *ngIf="myForm.get('FechaIngreso')?.invalid && myForm.get('FechaIngreso')?.touched" class="error-message">
          Fecha inválida
        </div>
      </div>
    </div>
    <div class="form-row" style="justify-content: flex-end;">
      <div class="botones-registro">
        <button type="submit" [disabled]="myForm.invalid" class="save-button">Guardar</button>
        <button type="button" (click)="onCancel()" class="cancel-button">Cancelar</button>
      </div>
    </div>
  </form>
</div>
