<div class="conteiner-general">
  <div class="bienvenida-conteiner">
    <h1>Register </h1>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="registro">
    <div class="form-row">


      <div class="group-registro">
        <label>Name of Member</label>
        <input matInput formControlName="nombreCompleto">
        <div *ngIf="myForm.get('nombreCompleto')?.invalid && myForm.get('nombreCompleto')?.touched"
          class="error-message">
          <small *ngIf="myForm.get('nombreCompleto')?.hasError('required')">Name is required.</small>
          <small *ngIf="myForm.get('nombreCompleto')?.hasError('pattern')">Only letters and spaces are allowed.</small>
        </div>
      </div>

      <div class="group-registro">
        <label>Email</label>
        <input matInput formControlName="email">
        <div *ngIf="myForm.get('email')?.invalid && myForm.get('email')?.touched" class="error-message">
          <small *ngIf="myForm.get('email')?.hasError('required')">Email is required.</small>
          <small *ngIf="myForm.get('email')?.hasError('email')">Enter a valid email.</small>
        </div>
      </div>
    </div>
    <div class="form-row">


      <div class="group-registro">
        <label>Profile</label>
        <input type="text" placeholder="Choose plan" aria-label="Number" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option.label">
            {{ option.label }}
          </mat-option>

        </mat-autocomplete>
      </div>


        <div class="group-registro">
          <label>Contact Number</label>
          <input matInput formControlName="contactNro">
          <div *ngIf="myForm.get('contactNro')?.invalid && myForm.get('contactNro')?.touched" class="error-message">
            <small *ngIf="myForm.get('contactNro')?.hasError('required')">Contact number is required.</small>
            <small *ngIf="myForm.get('contactNro')?.hasError('pattern')">Contact number must be 10 digits.</small>
          </div>
        </div>
    </div>
            




    <div class="form-row">
      <div class="group-registro-icon">
          <label for="date">Date of Join</label>
          <input formControlName="fechaIngreso" id="date" matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
      </div>
      <div class="botones-registro">
          <button type="submit"  class="save-button">Save</button>
          <button type="button" class="cancel-button">Cancel</button>
      </div>
  </div>
  </form>
</div>
