<div class="conteiner-general">
  <div class="bienvenida-conteiner">
    <h1>Register</h1>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="registro">
    <div class="form-row">

      <div class="group-registro">
        <label>Name of Member</label>
        <input matInput formControlName="NombreCompleto">
        <div *ngIf="myForm.get('NombreCompleto')?.invalid && myForm.get('NombreCompleto')?.touched" class="error-message">
        </div>
      </div>

      <div class="group-registro">
        <label>Email</label>
        <input matInput formControlName="Email">
        <div *ngIf="myForm.get('Email')?.invalid && myForm.get('Email')?.touched" class="error-message">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="group-registro">
        <label>Profile</label>
        <input    matInput
        type="text" placeholder="Choose plan" formControlName="IdPerfil" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
          </mat-option>
        </mat-autocomplete>
      </div>

      <div class="group-registro">
        <label>Contact Number</label>
        <input matInput formControlName="ContactNro">
        <div *ngIf="myForm.get('ContactNro')?.invalid && myForm.get('ContactNro')?.touched" class="error-message">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="group-registro-icon">
        <mat-label>Date of Join</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="FechaIngreso" />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <div class="botones-registro">
        <button type="submit" [disabled]="myForm.invalid" class="save-button">Save</button>
        <button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
      </div>
    </div>
  </form>
</div>
