.conteiner-general{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    margin-top: 10vh;
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
}

h1{
    font-size: 32px;
    font-weight: bold;
    color: #154360;
    margin-bottom: 20px;
    font-family: "Poppins", serif;
}

.registro-conteiner {
    border: 2px solid;
    background-color: white;
    padding: 5px;
    width: 550px;
    margin: auto;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

form{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}



.form-row{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    align-items: center;
}


.group-registro{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-registro-icon{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.group-registro-icon input{
    position: relative;
}

/* mat-datepicker-toggle{
     
    width: 10%;
    position: absolute;
    bottom: 0px;
    left: 93%;
    
}
mat-datepicker{
    position: relative;
    right: 0px;
    background-color: black;
} */

/* input{
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #E9E9E9;
    font-size: 14px;

} */


.botones-registro {
    display: flex;
    gap: 10px;
    margin-bottom: 2%;
}

.save-button {
    background-color:rgba(21, 67, 96, 1);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}

.cancel-button {
    background-color: transparent;
    color: #6399BC;
    border: 2px solid #6399BC;
    padding: 10px 25px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
}
.error-message {
    color: red;
    position: absolute;
    top: 3.6rem;
    left: 0;
    font-weight: 400;
}

button:disabled {
    background-color: #d3d3d3;
    color: #808080;
    cursor:auto;
  }
  

/* Estilo para la notificación de éxito */
.snack-success {
    background-color: #4caf50; /* Verde */
    color: white;
  }
  
  /* Estilo para la notificación de error */
  .snack-error {
    background-color: #f44336; /* Rojo */
    color: white;
  }
  
  /* Estilo para la notificación de advertencia */
  .snack-warning {
    background-color: #ff9800; /* Naranja */
    color: white;
  }



  

  /* mat-select{
    display: flex;
    margin: 0px;
    width: 97.3%;
    padding: 5px;
    height: 1.7rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #E9E9E9;
    font-size: 14px;

  } */

  ::ng-deep .mat-mdc-select-panel{
    margin-top: 0.5rem!important;
    width: 98%!important;
}

 ::ng-deep .mat-mdc-select ng-tns-c1711764913-1 mat-mdc-select-required mat-mdc-select-empty ng-untouched ng-pristine ng-invalid ng-star-inserted{
    margin: 0px;
 }
  
  
