<div class="profile-container">
    <div class="profile-header">
      <h3 class="instructor-name">Matias Ramirez</h3>
      <p class="instructor-email">Matiasramirez&#64;gmail.com</p>
    </div>
  
    <div class="profile-info">
      <form class="profile-form">
        <div class="form-group">
          <label for="first-name">First Name</label>
          <input type="text" id="first-name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name</label>
          <input type="text" id="last-name" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="contact">Contact</label>
          <input type="tel" id="contact" placeholder="Contact Number">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" placeholder="Mini Description"></textarea>
        </div>
      </form>
    </div>
  </div>
  