<div class="profile-section">
  <div class="profile-container">
    <div class="profile-header">
      <div class="profile-pic">
        <img src="https://as2.ftcdn.net/v2/jpg/00/96/60/99/1000_F_96609924_74UtjNBdDCKymIZcbxZJhJ3sO9pzIenF.jpg" alt="Instructor Profile">
      </div>
      <h3 class="instructor-name">{{memberData.nombreCompleto}}</h3>
    </div>
  
    <div class="profile-info">
      <form [formGroup]="myForm" class="profile-form">
        <div class="form-group">
          <label for="first-name">Primer Nombre</label>
          <input type="text" id="first-name"  formControlName="nombreCompleto">
        </div>
        <div class="form-group">
          <label for="contact">Contacto</label>
          <input type="tel" id="contact" placeholder="Numero de Contacto" formControlName="contactNro">
        </div>
        <div class="form-group">
          <label for="description">Email</label>
          <input type="text" formControlName="email">
        </div>
        <div class="form-group">
          <label>Perfil</label>
          <input type="text" placeholder="Elegit Plan" aria-label="Number" formControlName="idPerfil" matInput [matAutocomplete]="profileAuto">
          <mat-autocomplete #profileAuto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option.label">
              {{ option.label }}
            </mat-option>
          </mat-autocomplete>
      </div>
        <div class="form-group">
          <label  for="description">Último pago</label>
          <input type="text" [value]="memberData.fechaPago?.split('T')[0]" formControlName="fechaPago" readonly>

        </div>
        <div class="form-group">
          <label for="description">Fecha de vencimiento</label>
          <input type="text" [value]="memberData.fechaVencimiento?.split('T')[0]" formControlName="fechaVencimiento">
        </div>
        <div class="form-group">
          <label for="description">Registrado desde</label>
          <input type="text" [value]="memberData.fechaIngreso?.split('T')[0]" readonly formControlName="fechaIngreso">
        </div>
        <div class="button-group">
          <button type="submit" (click)="onSubmit()" class="save-button">Guardar</button>
          <button (click)="openModal()">Borrar</button>
        </div>
      </form>
    </div>
  </div>
  
</div>
